# Dependencies
/node_modules

# Build outputs
/dist/
.vinxi
.output
.tanstack/
.nitro/
routeTree.gen.ts

# Deployment
.vercel

# Environment
.env*
!.env.example
.DS_Store

# Logs
*.log*

# TypeScript
*.tsbuildinfo
